@import './fonts.scss';
@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';


body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

img {
  max-width: 100%;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.milage {
  width: 100% !important;

  input {
    text-align: left !important;
    width: 100% !important;
  }
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4rem;
}

.ml-5 {
  margin-left: 5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.w100 {
  width: 100% !important;
}

.el-breadcrumb__inner.is-link {
  font-weight: bold !important;
}

// main-container global css
.app-container {
  padding: 20px;
}

.el-card__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #F2F4F7;

  .left {
    display: flex;
    align-items: center;
  }

  h2, svg {
    float: left;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #344054;

    span {
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
    }
  }

  svg {
    margin-right: 13px;
    cursor: pointer;
  }

  button {
    border-radius: 8px;
    height: 44px;

  }

  button.el-button--default {
    color: #344054;
  }

  button.el-button--success {
    background: #F6FEF9;
    border: 1px solid #12B76A;
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
    color: #12B76A;
  }

  button.el-button--primary {
    padding: 8px 14px;
    gap: 8px;


    /* Blue light/600 */

    background: #0086C9;

    border: 1px solid #0086C9;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
  }

}

.PageContainer {
  margin: 15px;

  .Breadcrumbs {
    margin-bottom: 16px;
  }

  .Operation {
    float: right;
  }

  .goBack {
    margin-bottom: 16px;
    margin-top: 16px;
  }

  h2 {
    margin: 0;
  }

  .pagination {
    margin-top: 20px;
  }

  .PageTitle {
    margin-bottom: 20px;

    .Buttons {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }
}


@media (max-width: 768px) {
  .el-table th, .el-table td {
    white-space: nowrap;
  }
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.grid-col-full {
  grid-column: 1/-1
}

.light_text {
  color: $lightText;
}

.float-right {
  float: right;
}

$sizes: 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 20, 30, 32;

@each $size in $sizes {
  .mt-#{$size} {
    margin-top: ($size*2)+px;
  }
  .mb-#{$size} {
    margin-bottom: ($size*2)+px;
  }
  .ml-#{$size} {
    margin-left: ($size*2)+px;
  }
  .mr-#{$size} {
    margin-right: ($size*2)+px;
  }
  .mx-#{$size} {
    margin: 0 ($size*2)+px;
  }
  .my-#{$size} {
    margin: ($size*2)+px 0;
  }


  .pt-#{$size} {
    padding-top: ($size*2)+px;
  }
  .pb-#{$size} {
    padding-bottom: ($size*2)+px;
  }
  .pl-#{$size} {
    padding-left: ($size*2)+px;
  }
  .pr-#{$size} {
    padding-right: ($size*2)+px;
  }
  .px-#{$size} {
    padding: 0 ($size*2)+px;
  }
  .py-#{$size} {
    padding: ($size*2)+px 0;
  }

  .w-#{$size} {
    width: ($size*8)+px;
  }
}

.text-center {
  text-align: center;
}

.el-input .el-input--suffix {
  width: 110px;
}


.slick-slide {
  img {
    width: 100% !important;
    height: 200px;
    border: 1px solid #D0D5DD;
    border-radius: 12px !important;
  }
}

.slick-prev {
  left: 0 !important;
  z-index: 9999 !important;

  &:before {
    content: '<' !important;
    color: #344054 !important;
  }
}

.slick-next {
  right: 0 !important;

  &:before {
    content: '>' !important;
    color: #98A2B3 !important;
  }
}

.el-alert--warning {
  margin: 15px;
  width: auto;
  border-radius: 16px;

  .is-bold {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #DC6803;
  }
}

.el-dialog {
  border-radius: 16px;
  margin: 0 !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &__body {
    padding: 20px;
  }
}

.h-100 {
  height: 100%;
}
