// sidebar
$menuText: #fff;
$menuActiveText: #124d8a;
$subMenuActiveText: #032e53; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #4da6ff;
$menuHover: #2b8ef0;

$subMenuBg: #2b8ef0;
$subMenuHover: #0f63b8;

$sideBarWidth: 280px;

$lightText: #98A2B3;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
