// sidebar
$menuText: #545a5d;
$menuActiveText: #0086C9;
$subMenuActiveText: #0086C9; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #fff;
$menuHover: #0086C9;
$menuTextHover: #fff;

$subMenuBg: #fff;
$subMenuHover: #0086C9;

$sideBarWidth: 280px;
$sideBarSpaceX: 32px;

//Header
$headerHeight: 96px;
$sideBarWidth: 280px;

$lightText: #98A2B3;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
